@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow:0 5px 15px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  background-color:hsl(217, 24%, 93%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  /* color: rgb(53, 168, 202);
  text-shadow: 3px 3px 5px hsl(184, 91%, 68%); */
}

h2 {
  color: rgb(43, 151, 184);
  text-shadow: 3px 3px 5px hsl(184, 88%, 68%);
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin-bottom: 9px;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: rgba(255, 255, 255, 0.371);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #a89f9f;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #0ec55a;
  text-shadow: 3px 3px 4px rgb(99, 233, 99);
}

.money.minus {
  color:  #d5484f;
  text-shadow: 3px 3px 4px rgb(243, 142, 142);
}

label {
  display: inline-block;
  margin: 10px 0;
  font-style: italic;
  color: rgb(43, 151, 184);
  text-shadow: 3px 3px 5px hsl(184, 88%, 68%)
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: hsl(185, 77%, 34%);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;  
}

.list li {
  background-color: #fff;
  box-shadow: var(--light-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 11px;
  margin: 12px 34px;
  width: 270px;
  list-style-type: none;
}

.list li.plus {
  border-right: 5px solid #15cc62;
  
}

.list li.minus {
  border-right: 5px solid  #DE2A33;
  
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 22px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}